
    .buy-btn {
        width: 220px;
        height: 65px;
        background-color: rgba(209, 195, 153, 0.82);
        color: rgba(255, 255, 255, 1);
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: 400;
        border: 1px solid rgba(0, 0, 0, 1);

        &:hover {
            background-color: rgb(228, 194, 91);
            color: rgba(255, 255, 255, 1);
            
        }
        &::selection{
            background: rgb(228, 194, 91);
            color: rgb(153, 153, 153);
        }

        a {
            font-size: 30px;
            font-weight: 400; 
            color: rgba(255, 255, 255, 1);
            &:hover {
                color: rgba(255, 255, 255, 1);
               
            }
            &::selection {
                background: rgb(228, 194, 91);
                color: rgb(153, 153, 153);
            }

        }
        
    }
