/** ===== ads */
.gp-ads {
    @apply tw-w-10vw;
    background: rgba($color: #90b3f9, $alpha: 0.5);
    height: 85%;
    @apply tw-border-red-500;
    @apply tw-border-2;
}

.gp-card--ads {
    @apply tw-w-full;
    @apply tw-h-32;
    @extend .gp-cover-container;
    @apply tw-border-2;
}

.gp-card__img--ads {
    @apply tw-w-full;
    @apply tw-h-full;
    // object-fit: cover;
}



.gp-outer-world-ad {
    min-height: 150px;
    height: 150px;
    color: rgba(0, 0, 0, 1);
}
