.gp-card--hero {
    @apply tw-text-2xl;
    @apply tw-font-bold;
    
}

.gp-card--hero__main {
    // font-size: rfs-fluid-value( 1rem);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    @apply tw-text-white-900;
}

.gp-card--hero__other {
    // font-size: rfs-fluid-value( 1rem);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    @apply tw-text-white-900;
}
